[core]
	editor = code
[gui]
	recentrepo = C:/Users/stprice/source/git/AOC.ECF
	recentrepo = C:/Users/stprice/Documents/repos/AOC/EDMS/AOC.EDMS.API
[user]
	email = stprice@courts.az.gov
	name = Steele Price
[init]
	defaultBranch = main
[credential]
	helper = "!f() { /home/vscode/.vscode-server-insiders/bin/bc13785d3dd99b4b0e9da9aed17bb79809a50804/node /tmp/vscode-remote-containers-1f7365938ff8d5161a824f8f4f315527bb6c909b.js $*; }; f"
